.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
    padding: 10px;
}
.bioit-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
  }

.card {
    padding: 30px;
    border-radius: 30px;
    height: 500px;
    width: 700px;
    margin-top: 0px;
    margin-left: 50px;
    border: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    display: flex; 
    justify-content: space-between;
    min-height: 300px;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .biopedia-card { 
    display: flex;
    justify-items: center;
    justify-content: center;
  }
  .bio {
    width: 250px; 
    height: 60px;
    margin: 20px;
    background-color: rgba(13, 146, 244, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  rgba(13, 146, 244, 0.8);
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
  }
  .itpedia-card {
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .it {
    width: 250px; 
    height: 60px;
    margin: 20px;
    background-color: rgba(255, 65, 145, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  rgba(255, 65, 145, 0.8);
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
  }

  .bio:hover {
    border: 3px solid #0D92F4;
  }
  .it:hover {
    border: 3px solid #FF4191;
  }