.career-container {
    text-align: center;
    background-color: #0D92F4;
    color: white;
    padding: 40px 20px;
    min-height: 100vh;
  }
  
  .career-heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .white-line {
    border: 0;
    height: 1px; 
    background: white;
    margin: 10px 400px 40px 400px;
  }
  .white-line-lifescience {
    border: 0px;
    height: 1px;
    background-color: white;
    margin: 0px 50px 5px;
  }
  .white-vertical-line {
    width: 1px;
    height: 400px;
    background: white;
    margin: 20px 20px ; 
  }

  .career-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .career-box {
    /* background: rgba(255, 255, 255, 0.1); */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    /* border: 1px solid white; */
    border: none;
  }
  
  .career-box h2 {
    font-size: 30px;git
    margin-bottom: 15px;
  }
  
  .career-box ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
  }
  
  .career-box li {
    font-size: 16px;
    padding: 5px 0;
  }
  