.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: #f0f0f0;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;  /* stack button and paragraph vertically */
  justify-content: center; /* vertically center in container */
  align-items: flex-start; /* left align content */
  padding-left: 180px;
  
}

.left-button {
  display: flex;           /* to align dot and text */
  
  gap: 8px;
  
  font-size: 16px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 2px solid #333;  /* visible border */
  border-radius: 10px;
  width: 200px;
  margin-bottom: 8px;
  padding-left: 30px;
  align-items: center;
  height:50px

}

.red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}

.left-paragraph {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #333;
  margin-top: 10px;
}

.vertical-line {
  width: 2px;
  height: 50%;
  background-color: #000;
  margin: 0 30px;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.right-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: 2px ;  /* add visible border */
  border-radius: 10px;
  background-color: rgba(224, 222, 222, 0.718);
  height:50px;
  width:300px;
  color:rgb(102, 102, 194)
}
.event-wrapper {
  padding-top: 30px;
  text-align: center;
}

.event-heading {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}
